<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> 
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: ' col-md-10 control-label' %>
    <div class = 'col-md-3'>
      <%= form.text_field :name, class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :email, class: ' col-md-10 control-label' %>
    <div class = 'col-md-3'>
      <%= form.text_field :email, class:'form-control' %>
    </div>
  </div>

  <div class="from-group">
    <%= form.label :password, class: 'col-md-10 control-label' %>
    <div class = 'col-md-3'>
      <%= form.password_field :password, class:'form-control' %>
    </div>
  </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-0">
        <%= form.submit "Create", class: "btn btn-primary" %>
      </div>
    </div>
<% end %>